# CODEOWNERS file
# https://docs.github.com/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

/jvmproperties/v3locitydev @mmuvvala @spalugula @ktharun
